.container .regForm {
    max-width:40%;
    padding:10px;
    margin:0px;
    height:auto;
    left:50%;
    top:50%;
    //margin-left:-300px;
    //margin-top: -150px;
}

label {
    margin-top:10px;
}

.sbmt {
    background-color: rgb(34, 34, 34);
    color: #fff;
    width:80px;
    margin-top:15px;
    margin-right:8px;
    margin-left:8px;
}

#errMsg {
    color:orangered;
    font-weight:500;
}